{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css"
    />
  </head>
  <body>
    <div style="display: flex; justify-content: center; margin-top: 10px">
      {% if not user.is_authenticated %}
       <a href="{% url 'login'%}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="{% url 'register'%}">Register</a>
      {% else %}
        You are logged in as {{user.username}} &nbsp;&nbsp;<a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    </div>
    {% include 'message.html' %}
    <h1>Employee Details</h1>
    {% if perms.employees.add_employee %}
    <a
      style="
        display: block;
        text-align: right;
        padding-right: 11rem;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 10px;
      "
      href="{% url 'create_employee' %}"
      ><span
        style="
          border: 1px solid black;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: #13a106;
          color: white;
        "
        >Add Employee</span
      ></a
    >
    {% endif %}
    <div class="container">
      <table>
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>D.O.J</th>
          <th>Status</th>
          <th>Department</th>
          <th>Manager</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for e in employees %}
          <tr>
            <td>{{ e.id}}</td>
            <td>{{ e.full_name}}</td>
            <td>{{ e.email}}</td>
            <td>{{ e.designation}}</td>
            <td>{{ e.salary}}</td>
            <td>{{ e.joining_date | date:"d/m/Y"}}</td>
            <td>{{ e.active | yesno:"Active,Inactive"}}</td>
            <td>{{ e.department}}</td>
            <td>{{ e.manager}}</td>
            <td>
              <table class="inner-table">
                <tr>
                  <td>
                    <a href="{% url 'view_employee' id=e.id %}"
                      ><i class="fa fa-eye"></i
                    ></a>
                  </td>
                  <td> <a href="{% url 'edit_employee' id=e.id %}"
                      ><i class="fa fa-edit"></i
                    ></a></i></td>
                    <td> <a href="{% url 'delete_employee' id=e.id %}"
                      ><i class="fa fa-trash"></i
                    ></a></i></td>
                </tr>
              </table>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
